.content {
  width: 100%;
  height: auto;

  display: flex;

  background: var(--gray-500);
  color: var(--gray-200);

  font-size: 14px;

  margin-bottom: 12px;
  padding: 15px;

  border-radius: 8px;
}

.content input {
  margin-right: 10px;

  width: 1em;
  height: 1em;

  color: var(--gray-200);
  border: 1px solid var(--blue);

  border-radius: 50%;
  vertical-align: middle;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

.content input:checked {
  background-color: var(--purple-dark);
  border: 1px solid var(--purple-dark);
}
